@charset "UTF-8";
/* 774936 8a5a44 9d6b53 b07d62 c38e70 cd9777 d69f7e deab90 e6b8a2 edc4b3 */
#wrap {width: 1200px; margin:0 auto;}

/* header */
#wrap #header {width: 100%; height: 100px; background:#774936;}

/* main */
#wrap #main {width: 100%;}
#wrap #main #section1 {width: 100%; height: 300px; background: #8a5a44;}
#wrap #main #section2 {width: 100%; height: 200px; background: #9d6b53;}

/* footer */
#wrap #footer {width: 100%; height: 100px; background: #b07d62;}