@charset "UTF-8";

#wrap #header .wrap > ul {height: 100px;}
#wrap #main #section2 > ul {height: 200px;}
#wrap #footer .wrap > ul {height: 100px;}
#wrap #footer .wrap > ul > li:nth-child(2) ul {height: 100px;}

#wrap #header .wrap > ul > li:nth-child(2) #nav > ul {height: 45px;}