@charset "UTF-8"; 
/*반드시 @, 반드시 "", 반드시""전에 한 칸 띄우기 = 인코딩*/

* {margin:0;padding:0} /*블럭태그(body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li etc)에 default로 설정된 margin값 해제*/

html,body {width:100%;height:100%;}

/* html {background: dodgerblue;}  /*html, body 둘 다 background-color 지정 시, body의 width,height 지정해야함 */
body {background: #fff;}    /*원래는 #cc0000 이렇게해야되는데, 같은문구(숫자) 2번반복시 1글자씩 써도 됨*/

.fixedclear:after {content:""; display: block; clear:both;} 
/* 부모태그에 float 풀기 : 
해당태그 다음(가상클래스 after/ before면 그 전 태그들)부터 적용 
(header에 float 적용시켰으니까 header다음부터)*/

.hide {display: none;}