/*file:///D:/국기_박소혜/학습자료실/웹디자인실기검정%20참고자료/실기검정자료--PDF유형/와이어프레임(공개).pdf 의 첫번째*/
@charset "UTF-8";

#wrapper{width:1200px;height:700px; margin:0 auto;} /* margin top,bottom은 0, auto는 비율에 맞게 알아서 지정됨*/

#wrapper #header {width:1200px;}     /*DOM 트리 구조대로 써줘야됨 : wrapperr가 부모, header가 자식*/
#wrapper #header .header-left{float:left; width: 180px; height: 100px; background:#c99;}
#wrapper #header .header-right{float:left; width: 1020px; height: 100px; background: #99c;}

#wrapper #main {width:1200px;}       /*preview:header next:footer */

#wrapper #main #section1 {width:1200px;height:300px;background:#c9C;} /* wrapper한테 main은 자식, section은 자손 = DOM트리(부모-자식-자손) */

#wrapper #main #section2 {width:1200px;}
/* #wrapper #main #section2:after {content:""; display:block; clear:both;} */
#wrapper #main #section2 .section2-left{float:left; width: 400px; height: 200px; background: #8bb;}
#wrapper #main #section2 .section2-center{float:left; width: 400px; height: 200px; background: #88b;}
#wrapper #main #section2 .section2-right{float:left; width: 400px; height: 200px; background: #bb8;}

#wrapper #footer {width:1200px;height:100px;}     /*header=main=footer = 형제요소*/
#wrapper #footer .footer-left{float: left; width: 180px; height: 100px; background:#c99;}
#wrapper #footer .footer-right{float: left; width: 1020px; height: 100px;}
#wrapper #footer .footer-right-row1 {width: 1020px; height: 50px; background:#99c;}
#wrapper #footer .footer-right-row2 {width: 1020px; height: 50px; background: #9c9;}