@charset "UTF-8";

#wrap {width: 100%; }

/* header */
#wrap #header { width: 100%;  background: red;}
#wrap #header #hwrap  {width: 1200px; margin: 0 auto;}
#wrap #header #hwrap > ul {position: relative; width: 100%;}
#wrap #header #hwrap > ul > li {float:left; width: 100%; height: 100px;}
#wrap #header #hwrap > ul > li:nth-child(1) {width: 180px; background: violet;}
#wrap #header #hwrap > ul > li:nth-child(2) {width: 1020px; background: tomato;}

/* nav-sub-bg */
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub-bg {position: absolute; z-index: 1; width:100%; height: 300px; left:0; background: #fff;}

/* nav */
#wrap #header #hwrap > ul > li:nth-child(2) #nav {width: 100%;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul {float:right; padding: 55px 20px 0 0;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li {float: left; width: 175px; height: 45px;}

/* nav-main-btn */
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li > a {height:100%; display: block; text-align: center; line-height: 45px;  background: #fff; transition: all .3s;} 
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li > a:hover {background: #000; color:#fff;}

/* nav-sub-btn */
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub {position:relative; z-index: 2; width: 100%;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub > ul {width: 100%;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub > ul >li {width: 100%; text-align:center;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub > ul >li > a {display:block; line-height: 45px; background: #fff; transition: all .1s;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub > ul >li > a:hover {background: #000; color: #fff;}


/* main */
#wrap #main {width: 1200px; height: 500px; background: yellow; margin: 0 auto;}
#wrap #main #section1 {width: 100%; height: 300px; background: #9e9;}
#wrap #main #section2 {width: 100%;}
#wrap #main #section2 ul {width: 100%;}
#wrap #main #section2 ul li {float: left; width:400px; height: 200px;}
#wrap #main #section2 > ul >li:nth-child(1) { background: #e99;}
#wrap #main #section2 > ul >li:nth-child(2) { background: #ce9;}
#wrap #main #section2 > ul >li:nth-child(3) { background: #df1;}



/* footer */
#wrap #footer {width: 100%; background: blue;}
#wrap #footer #fwrap {width: 1200px; margin: 0 auto;}
#wrap #footer #fwrap > ul {width: 100%;}
#wrap #footer #fwrap > ul > li {width: 100%;}
#wrap #footer #fwrap > ul > li:nth-child(1) {float:left; width: 1020px; height: 100px; background: #c5c;}
#wrap #footer #fwrap > ul > li:nth-child(2) {float:left; width:180px; background: #a7a;}
#wrap #footer #fwrap > ul > li:nth-child(2) ul {width: 100%;}
#wrap #footer #fwrap > ul > li:nth-child(2) ul li {width: 100%; height: 50px;}
#wrap #footer #fwrap > ul > li:nth-child(2) ul li:nth-child(1) {background: #7d7;}
#wrap #footer #fwrap > ul > li:nth-child(2) ul li:nth-child(2) {background: #7a7;}
