@charset "UTF-8";

#wrap {width:100%;}

#wrap #skip {width:100%;}
#wrap #skip li {width:100%;}
#wrap #skip li a {display:block;width:100%;font-size:0px;line-height:0px;background:#000;color: #fff;}
#wrap #skip li a:focus {font-size:20px;line-height:50px;} 

/* header */
#wrap #header {width:100%;border-top:1px solid #000;border-bottom:1px solid #000;}
#wrap #header #hwrap {position:relative;width:1200px;height:100px;margin: 0 auto;border-left:1px solid #000;border-right:1px solid #000;}
#wrap #header #hwrap > ul {width:100%;}
#wrap #header #hwrap > ul > li {float:left;width:100%;height:100px;}
#wrap #header #hwrap > ul > li:nth-child(1) {width: 180px;}
#wrap #header #hwrap > ul > li:nth-child(2) {width:1019px;border-left:1px solid #000;}

/* nav-sub-bg */
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub-bg {position:absolute;z-index:1;width:100%;height:300px;left:0;/* border-top:1px solid #000; */border-bottom:1px solid #000;}

/* nav */
#wrap #header #hwrap > ul > li:nth-child(2) #nav {width:100%;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul {float:right;padding:55px 20px 0 0;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li {float:left;width:175px;height:43px;}

/* nav-main-btn */
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li > a {height:100%;display:block;text-align:center;line-height:45px;transition:all .3s;border-left:1px solid #000;border-top:1px solid #000;} 
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li:nth-child(4) > a {border-right: 1px solid #000;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li > a:hover {color:#fff;}

/* nav-sub-btn */
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub {position:relative;z-index:2;width:100%;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub > ul {width: 100%;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub > ul >li {width:100%;text-align:center;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub > ul >li > a {display:block;line-height:45px;transition:all .1s;border-left:1px solid #000;border-bottom:1px solid #000;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li:nth-child(4) .sub > ul >li > a {border-right: 1px solid #000;}
#wrap #header #hwrap > ul > li:nth-child(2) #nav > ul > li .sub > ul >li > a:hover {color: #fff;}


/* main */
#wrap #main {width:1200px;height:500px;margin: 0 auto;border-left:1px solid #000;border-right:1px solid #000;}
#wrap #main #section1 {width:100%;height:300px;}
#wrap #main #section2 {width:100%;height:200px;}
#wrap #main #section2 > ul {width:1200px;}
#wrap #main #section2 > ul > li {float:left;height:200px;}
#wrap #main #section2 > ul > li:nth-child(1) {width:400px;}
#wrap #main #section2 > ul > li:nth-child(2) {width:399px;border-left:1px dotted #000;}
#wrap #main #section2 > ul > li:nth-child(3) {width:399px;border-left:1px dotted #000;}



/* footer */
#wrap #footer {width:100%;height:100px;border-top:1px solid #000;border-bottom:1px solid #000;}
#wrap #footer #fwrap {width:1200px;margin:0 auto;border-left:1px solid #000;}
#wrap #footer #fwrap > ul {width:100%;}
#wrap #footer #fwrap > ul > li {width:100%;}
#wrap #footer #fwrap > ul > li:nth-child(1) {float:left;width:1019px;height:100px;border-right:1px dotted #000;}
#wrap #footer #fwrap > ul > li:nth-child(2) {float:left;width:180px;}
#wrap #footer #fwrap > ul > li:nth-child(2) ul {width:100%;}
#wrap #footer #fwrap > ul > li:nth-child(2) ul li {width:100%;height: 100px;}
#wrap #footer #fwrap > ul > li:nth-child(2) ul li:nth-child(1) {width:179px;border-right:1px solid #000;height:49px;border-bottom:1px dotted #000;}
#wrap #footer #fwrap > ul > li:nth-child(2) ul li:nth-child(2) {width:179px;border-right:1px solid #000;height:50px;}
