@charset "UTF-8";

#wrap {width:1000px;height:650px;border:1px solid #ccc;margin:0 auto;}

#wrap #header {float:left;width:200px;height:650px;}
#wrap #header .header1 {width:200px;height:100px;}
#wrap #header .header2 {width:200px;height:549px;border-top:1px dotted #ccc;}

#wrap #header .header2 #nav {width:100%;}
#wrap #header .header2 #nav > ul {margin:15px 15px 0 15px;}
#wrap #header .header2 #nav > ul > li {width:100%;}

#wrap #header .header2 #nav > ul > li > a {display:block;text-align:center;font-size:14px;line-height:45px;background:#fff;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;}
#wrap #header .header2 #nav > ul > li:nth-child(1) > a {border-top:1px solid #ccc;}
#wrap #header .header2 #nav > ul > li > a:hover {background:#000;color:#fff;}

#wrap #header .header2 #nav > ul > li .sub {width:100%;display:none;}
#wrap #header .header2 #nav > ul > li:hover .sub {display:block;}
#wrap #header .header2 #nav > ul > li .sub > ul {width:100%;}
#wrap #header .header2 #nav > ul > li .sub > ul > li {width:100%;}
#wrap #header .header2 #nav > ul > li .sub > ul > li > a {display:block;line-height:45px;font-size:11px;text-align:center;background:#ddd;border-left:1px solid #ccc;border-right:1px solid #ccc;}
#wrap #header .header2 #nav > ul > li .sub > ul > li:nth-child(1) > a {border-bottom:1px dotted #ccc}
#wrap #header .header2 #nav > ul > li .sub > ul > li:nth-child(2) > a {border-bottom:1px dotted #ccc}
#wrap #header .header2 #nav > ul > li .sub > ul > li:nth-child(3) > a {border-bottom:1px dotted #ccc}
#wrap #header .header2 #nav > ul > li .sub > ul > li:nth-child(4) > a {border-bottom:1px solid #ccc}
#wrap #header .header2 #nav > ul > li .sub > ul > li > a:hover {background:#000;color:#fff;}



#wrap #right {float:left;width:799px;height:650px;border-left:1px solid #ccc;}

#wrap #right #main {width:799px;height:549px;border-bottom:1px solid #ccc;}
#wrap #right #main #section1{width:799px;height:349px;border-bottom:1px solid #ccc;}

#wrap #right #main #section2{width:799px;height:200px;} 
#wrap #right #main #section2 > ul {width:100%;}
#wrap #right #main #section2 > ul > li {float:left;width:100%;}
#wrap #right #main #section2 > ul > li:nth-child(1) {width:266.333px;height:200px;}
#wrap #right #main #section2 > ul > li:nth-child(2) {width:265.333px;height:200px;border-left:1px dotted #ccc;}
#wrap #right #main #section2 > ul > li:nth-child(3) {width:265.333px;height:200px;border-left:1px dotted #ccc;}

#wrap #right #footer {width:799px;height:100px;}
#wrap #right #footer .footer1 {float:left;width:200px;height:100px;}
#wrap #right #footer .footer2 {float:left;width:598px;height:100px;border-left:1px dotted #ccc;}
#wrap #right #footer .footer2 > ul {width:100%;}
#wrap #right #footer .footer2 > ul > li {width:100%;}
#wrap #right #footer .footer2 > ul > li:nth-child(1) {width:598px;height:49px;border-bottom:1px dotted #ccc;}
#wrap #right #footer .footer2 > ul > li:nth-child(2) {width:598px;height:50px;}
